<h1 id="tableLabel">Billboard Musiclist Members</h1>

<p *ngIf="!BillBoardMusicListMembers"><em>loading...</em></p>

<table class="table table-stripped" *ngIf="BillBoardMusicListMembers">
    <thead>
        <tr>
            <th>Id</th>
            <th>Artist</th>
            <th>Song</th>
            <th>Duration</th>
            <th>Genre</th>
            <th>Member Since</th>
            <th>Active Member?</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let s of BillBoardMusicListMembers">
        <td>{{ s.Id }}</td>
        <td>{{ s.Artist }}</td>
        <td>{{ s.Song }}</td>
        <td>{{ s.Duration }}</td>
        <td>{{ s.Genre }}</td>
        <td>{{ s.Membersince}}</td>
        <td>{{ s.IsActiveMember}}</td>
    </tr>
</table>
Id
<input [(ngModel)]="newBillBoardMusicList" name="Id" />
Artist
<input [(ngModel)]="newBillBoardMusicList.Artist" name="Artist" />
Song
<input [(ngModel)]="newBillBoardMusicList.Song" name="Song" />
Duration
<input [(ngModel)]="newBillBoardMusicList.Duration" name="Duration" />
Genre
<input [(ngModel)]="newBillBoardMusicList.Genre" name="Genre" />
Member since
<input [(ngModel)]="newBillBoardMusicList.Membersince" name="Membersince" />
Active Member
<input [(ngModel)]="newBillBoardMusicList.IsActiveMember" name="Duration" />
<button (click)="save()">Save</button>